.side-bar {
  width: 20%;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #ccc;
  padding: 0 20px;
  -webkit-box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.side-bar footer {
  font-size: 10px;
  text-transform: capitalize;
}
