@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Secular One', sans-serif;
  color: #313131
}

li {
  list-style: none;
}

ul {
  display: flex;
}

a {
  text-decoration: none;
}
